@{
    Layout = "_OuterLayout";
}
@*<!doctype html>
<html>
<head>
    

    

    <title>ABISKAR FOUNDATION</title>
    
</head>
<body>
    <!-- Main container -->
    
</body>

</html>*@


    <!-- Navigation Bloc -->
    <!-- Navigation Bloc END -->
    <!-- header -->
    <!--<div class="bloc bgc-outer-space bg-city-overlay d-bloc" id="header">
        <div class="container bloc-xl">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="text-center mg-lg tc-white">Welcome to ABISKAR FOUNDATION -  <span
                            data-typer-targets="E-Learning,E-Books,E-Exams"></span></h3>

                    <p class="text-center  mg-lg animated fadeInUp animDelay02">
                        Some schools use internet resources, such as online lessons, teacher support online, or online homework systems,
                        but a fully online school (virtual school or cyber-school) teaches entirely or primarily through online methods.
                        That is, physical interaction by students and teachers is unnecessary, or only supplementary.
                        A fully online school enables individuals to earn transferable credits or to take recognised examinations,
                        to advance to the next level of education.
                    </p>

                    <div class="text-center">
                        <a class="btn  btn-xl btn-wire wire-btn-carmine-pink animDelay06 animated fadeInUp"
                           onclick="scrollToTarget('#porfolio')">OUR PORTFOLIO</a>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    <!-- header END -->
    <!-- Slider Start -->
    <div id="jssor_1" style="position:relative;margin:0 auto;top:0px;left:0px;width:1366px;height:566px;overflow:hidden;visibility:hidden;">
        <!-- Loading Screen -->

        <div data-u="slides" style="cursor:default;position:relative;top:0px;left:0px;width:1366px;height:566px;overflow:hidden;">

            <div>
                <img data-u="image" src="~/img/banner1.jpg" style="position:relative" />
                <div class="container bloc-xl" style="position:absolute" align="center">
                    <h3 style="color:#fff;font-weight:900;font-size:32px;margin-top:-35px;margin-left:100px">Welcome to ABISKAR FOUNDATION -  <span data-typer-targets="E-Learning,E-Books,E-Exams"></span></h3>
                </div>
            </div>
            <div>
                <img data-u="image" src="~/img/banner2.jpg" style="position:relative" />
                <div class="container bloc-xl" style="position:absolute" align="center">
                    <h3 style="color:#fff;font-weight:900;font-size:32px;margin-top:-115px;margin-left:170px">Welcome to ABISKAR FOUNDATION -  <span data-typer-targets="E-Learning,E-Books,E-Exams"></span></h3>
                </div>
            </div>
            <div>
                <img data-u="image" src="~/img/banner3.jpg" style="position:relative" />
                <div class="container bloc-xl" style="position:absolute;width:72%" align="center">
                    <h3 style="color:#000;font-weight:700;font-size:28px;margin-top:0px;margin-left:75px"><span data-typer-targets="ABISKAR FOUNDATION"></span> is a smart school that uses visually attractive methods and enhanced technological equipments for the purpose of better learning and teaching.</h3>
                </div>
            </div>



        </div>
        <!-- Bullet Navigator -->
        <div data-u="navigator" class="jssorb05" style="bottom:16px;right:16px;" data-autocenter="1">
            <!-- bullet navigator item prototype -->
            <div data-u="prototype" style="width:16px;height:16px;"></div>
        </div>
        <!-- Arrow Navigator -->
        <span data-u="arrowleft" class="jssora22l" style="top:0px;left:8px;width:40px;height:58px;" data-autocenter="2"></span>
        <span data-u="arrowright" class="jssora22r" style="top:0px;right:8px;width:40px;height:58px;" data-autocenter="2"></span>
    </div>
    <!-- Slider End -->
    <!-- services -->
    <div class="bloc bgc-platinum l-bloc" id="services">
        <div class="container bloc-lg">
            <div class="row" style="padding-bottom:40px;">
                <div class="col-sm-12">
                    <h2 class="text-center mg-md">
                        OUR BENEFITS
                    </h2>

                    <p class="text-center sub-heading">

                    </p>
                </div>
            </div>

            <div class="row">



                <div class="col-sm-4">
                    <div class="text-center">
                        <span class="et-icon-tablet icon-xl icon-carmine-pink animated zoomIn animDelay02"></span>
                    </div>
                    <h3 class="text-center mg-md ">
                        No School Bag Burden
                    </h3>

                    <p class="text-center">
                        Health experts say children risk long-term and ultimately permanent damage if they regularly carry more than 15 per cent  of their body weight over their shoulders. ESchool with Smart Class is the perfect solution for the same.
                    </p>
                </div>
                <div class="col-sm-4">
                    <div class="text-center">
                        <span class="et-icon-presentation icon-xl icon-carmine-pink animated zoomIn"></span>
                    </div>
                    <h3 class="text-center mg-md ">
                        Smart Class Room
                    </h3>

                    <p class="text-center">
                        Smart classes use all interactive modules like videos and presentations and these visually attractive methods of teaching becomes appealing to students who are already struggling with the traditional method of teaching in a classroom.
                    </p>
                </div>
                <div class="col-sm-4">
                    <div class="text-center">
                        <span class="et-icon-linegraph icon-xl icon-carmine-pink animated zoomIn animDelay02"></span>
                    </div>
                    <h3 class="text-center mg-md ">
                        A Step Ahead
                    </h3>

                    <p class="text-center">
                        Online schools can be equalisers, as age, appearance, and background are far less obvious.Students and pupils benefit from exposure to others in different cultures of the world, which enriches understanding of history, geography, religions and politics.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- services END -->
    <!-- clients -->
    <!--<div class="bloc bgc-platinum l-bloc" id="bloc-3">
        <div class="container bloc-lg">
            <div class="row">
                <div class="col-sm-3 text-center">
                    <img src="img/ny-times.png" class="" alt="ny-times"/>
                </div>
                <div class="col-sm-3 text-center">
                    <img src="img/forbes.png" class="" alt="forbes"/>
                </div>
                <div class="col-sm-3 text-center">
                    <img src="img/wired.png" class="" alt="ny-wired"/>
                </div>
                <div class="col-sm-3 text-center">
                    <img src="img/guardian.png" class="" alt="guardian"/>
                </div>
            </div>
        </div>
    </div>-->
    <!-- clients END -->
    <!-- porfolio -->
    <div class="bloc l-bloc bgc-white" id="porfolio">
        <div class="container bloc-lg">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="text-center mg-md ">
                        ABISKAR FEATURES
                    </h2>

                    <p class="text-center sub-heading">

                    </p>
                </div>
            </div>
            <div class="row voffset">
                <div class="col-sm-3">
                    <a href="#" data-lightbox="~/img/pic1.jpg" data-caption="Image description">
                        <img src="~/img/pic1.jpg" class="img-responsive animated zoomIn" alt="portfolio" style="height: 270px;" />
                    </a>
                    <h3 class="text-center mg-md ">
                        Smart Classrooms
                    </h3>
                    <p class="text-center">

                    </p>
                </div>

                <div class="col-sm-3">
                    <a href="#" data-lightbox="~/img/pic2.jpg" data-caption="Image description">
                        <img src="~/img/pic2.jpg" class="img-responsive animated zoomIn" alt="portfolio" style="height: 270px;" />
                    </a>
                    <h3 class="text-center mg-md ">
                        Online Resources
                    </h3>
                    <p class="text-center">

                    </p>
                </div>
                <div class="col-sm-3">
                    <a href="#" data-lightbox="~/img/pic3.jpg" data-caption="Image description">
                        <img src="~/img/pic3.jpg" class="img-responsive animated zoomIn" alt="portfolio" style="height: 270px;" />
                    </a>
                    <h3 class="text-center mg-md ">
                        Visually Appealing
                    </h3>
                    <p class="text-center">

                    </p>
                </div>
                <div class="col-sm-3">
                    <a href="#" data-lightbox="~/img/pic4.jpg" data-caption="Image description">
                        <img src="~/img/pic4.jpg" class="img-responsive animated zoomIn" alt="portfolio" style="height: 270px;border: 1px solid rgba(0, 0, 0, 0.15);" />
                    </a>
                    <h3 class="text-center mg-md ">
                        Interactive Learning
                    </h3>
                    <p class="text-center">

                    </p>
                </div>
            </div>

        </div>
    </div>
    <!-- porfolio END -->
    <!-- team -->
    <div class="bloc bgc-carmine-pink d-bloc" id="team">
        <div class="container bloc-sm">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="text-center mg-md ">
                        ACADEMICS
                    </h2>

                    <p class="sub-heading text-center">
                        Abiskar Foundation is a place where people of different ages gain an education in a smarter way, including Kindergarten, junior, primary-elementary schools, secondary-high schools, and universities. They provide a variety of learning environments and learning spaces.
                    </p>
                </div>
            </div>
            <div class="row voffset-lg">
                <div class="col-sm-3">
                    <img src="~/img/kindergarten.jpg" class="img-responsive animated zoomIn" alt="member" />

                    <h3 class="text-center mg-md">
                        Kindergarten
                    </h3>

                    <p class="text-center">
                        Play House
                    </p>
                </div>
                <div class="col-sm-3">
                    <img src="~/img/junior.jpg" class="img-responsive animated zoomIn animDelay02" alt="member" />

                    <h3 class="text-center mg-md">
                        Junior
                    </h3>

                    <p class="text-center">
                        Primary-Elementary Schools
                    </p>
                </div>
                <div class="col-sm-3">
                    <img src="~/img/senior.jpg" class="img-responsive animDelay04 animated zoomIn" alt="member" />

                    <h3 class="text-center mg-md">
                        Senior
                    </h3>

                    <p class="text-center">
                        Secondary-High Schools
                    </p>
                </div>
                <div class="col-sm-3">
                    <img src="~/img/lab.jpg" class="img-responsive animDelay06 animated zoomIn" alt="member" />

                    <h3 class="text-center mg-md">
                        Laboratories
                    </h3>

                    <p class="text-center">
                        Lab Studies
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- team END -->
    <!-- testimonials -->
    <div class="bloc bgc-white l-bloc" id="bloc-6">
        <div class="container bloc-md">
            <!--<div class="col-sm-2 col-sm-offset-5 col-xs-6 col-xs-offset-3">-->
            <!--<img src="img/bramk.jpg" class="img-responsive img-circle center-block img-frame-rd-md"/>-->
            <!--</div>-->
            <!--<div class="col-xs-12 col-md-8 col-md-offset-2">-->
            <!--<h3 class="text-center ">-->
            <!--<i>"Eventually everything connects - people, ideas, objects. The quality of the connections is the-->
            <!--key to quality per se."</i>-->
            <!--</h3>-->
            <!--<p class="text-center">-->
            <!--<strong>Charles Eames</strong>-->
            <!--</p>-->
            <!--</div>-->
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="quote"><i class="fa fa-quote-left fa-4x"></i></div>
                    <div class="carousel slide" id="fade-quote-carousel" data-ride="carousel" data-interval="3000">
                        <!-- Carousel indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#fade-quote-carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#fade-quote-carousel" data-slide-to="1"></li>
                            <li data-target="#fade-quote-carousel" data-slide-to="2"></li>
                        </ol>
                        <!-- Carousel items -->
                        <div class="carousel-inner">
                            <div class="item">
                                <h4 style="text-align: center;text-transform: uppercase;">Kripa Sindhu Panja</h4>

                                <p style="text-align: center;padding-bottom:5px">Advocate,<br />High Court, Calcutta<br />Dtd. 19.05.2017</p>

                                <blockquote>
                                    <p>This quote succinctly describes our continuous effort to nurture our students so that they will grow into individuals with the strength of character. Besides our curriculum, our co-curricular programmes are designed to develop our students to be dynamic, future-ready individuals who not only leave up to the school values of Respect for Self and others, intereity, Passion for Learning, but also have competency and capacity to excel. It is our mission to educate children, so that they can have their own identity. We aim at bringing assimilate new knowledge, skills and values with no-time independently self-evaluation so that they can emerge into the e-world with a handy result as progressive and dignified representative of the Abiskar Foundations as Smart School.</p>
                                </blockquote>
                            </div>
                            <div class="item">
                                <h4 style="text-align: center;">Mrs. Munmun Paul, M.A. (Hist) </h4>
                                <p style="text-align: center;padding-bottom:5px">Mother of Abiskar Paul<br />Dtd. 19.05.2017</p>

                                <blockquote>
                                    <p>
                                        Thanks a lot to Mr. Kartick Chandra Paul, the Innovator of First E-Smart-School in Kolkata from Primary Level and further gratitude to him for the proposer to West Bengal Board of Secondary Education for introducing all educational systems, practices and their examinations through "Smart School" with E-Learning that not only saving time and money but becoming a self-improviser cum examiner and riskless, hackle-free journey to summit of Higher Education and Working Fields.
                                        Your innovation is cordially welcome and I wish your grand success that is the ever best bridge between the Field of Modern Education and Modern Employment.
                                    </p>
                                </blockquote>
                            </div>
                            <div class="active item">
                                <h4 style="text-align: center;">Managing Director</h4>
                                <p style="text-align: center;padding-bottom:5px">
                                    Abiskar Foundation<br />Kolkata-6<br />Dtd. 21.05.2017
                                </p>
                                <blockquote>
                                    <p>A report "DigiLockers for ICSE, ISC" in the Telegraph on 20th May, 2017, has made confidence to our Thought of E-Smart School in Bengal as well as in the WBBSE and WBCHSE. If candidates can have their Certificates and Mark-Sheet digitally save on the Internet for availing them anytime, why a candidate will have to give tests or examinations on a seperate answersheets, that may be lost by an irresponsible examiners / or invigilators and a candidate will have to be in detention for long time for his / her result.</p><p>
                                        We have created a new System in which a Learner can have tuition through Internet anytime, anywhere for any subject and can have independent Smart Test and its Result for any term within a same day and the Certificate and Mark-Sheet will have been stored. And the total Programme from Learning to Examination and its Result in the form of Certificates and Mark-Sheets and all types of Data Record through the training - attendence - assignment - workout-result will be kept in an "Unique File" is the E-Smart-School System is very shortly be affiliated and passed as an Essential Examination System in WBBSE and WBCHSE to compete the National Level Test by Govt. of West Bengal by 2019 as it is Modern, Latest Trends to World of Education that save money, time and knowledge.
                                    </p>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- testimonials END -->

    <div class="nicdark_container nicdark_clearfix" id="contact_div">

        <div class="nicdark_space40"></div>


        <div class="grid grid_4">

            <div class="nicdark_archive1 nicdark_bg_grey nicdark_radius nicdark_shadow">
                <div class="nicdark_margin20 nicdark_relative">
                    <span class="nicdark_displaynone_ipadpotr nicdark_btn_icon white nicdark_absolute nicdark_shadow"><img src="~/img/primary.png" style="display: inline-block;width: 80px;height: 105px;"></span>
                    <div class="nicdark_activity nicdark_marginleft100 nicdark_disable_marginleft_ipadpotr">
                        <h4>PRIMARY SCHOOL</h4>
                        <div class="nicdark_space20"></div>
                        <p>4 Nimtala Lane,<br /> Kolkata 700006<br />(+91) 8296818046</p>
                    </div>
                </div>
            </div>

            <div class="nicdark_space20"></div>


            <div class="nicdark_archive1 nicdark_bg_grey nicdark_radius nicdark_shadow">
                <div class="nicdark_margin20 nicdark_relative">
                    <span class="nicdark_displaynone_ipadpotr nicdark_btn_icon white nicdark_absolute nicdark_shadow"><img src="~/img/secondary.png" style="display: inline-block;width: 80px;height: 105px;"></span>
                    <div class="nicdark_activity nicdark_marginleft100 nicdark_disable_marginleft_ipadpotr">
                        <h4>SECONDARY SCHOOL</h4>
                        <div class="nicdark_space20"></div>
                        <p>Christian Para Kestopore,<br /> Kolkata 700102<br />(+91) 9831702146</p>
                    </div>
                </div>
            </div>

            <div class="nicdark_space20"></div>


            <div class="nicdark_archive1 nicdark_bg_grey nicdark_radius nicdark_shadow">
                <div class="nicdark_margin20 nicdark_relative">
                    <span class="nicdark_displaynone_ipadpotr nicdark_btn_icon white nicdark_absolute nicdark_shadow"><img src="~/img/mail.png" style="display: inline-block;width: 80px;height: 105px;"></span>
                    <div class="nicdark_activity nicdark_marginleft100 nicdark_disable_marginleft_ipadpotr">
                        <h4>M@IL US</h4>
                        <div class="nicdark_space20"></div>
                        <p>info@abiskarfoundation.com <br />registration@abiskarfoundation.com</p>
                    </div>
                </div>
            </div>



        </div>


        <div class="grid grid_8">

            <div class="nicdark_archive1 nicdark_bg_grey nicdark_radius nicdark_shadow">
                <div class="nicdark_textevidence nicdark_bg_orange nicdark_radius_top">
                    <h4 class="white nicdark_margin20">CONTACT US</h4>
                    <i class="icon-mail nicdark_iconbg right medium orange"></i>
                </div>
                <div class="nicdark_margin20">
                    <input class="nicdark_bg_grey2 nicdark_radius nicdark_shadow grey small subtitle" type="text" value="" placeholder="NAME" id="name" name="name">
                    <div class="nicdark_space20"></div>
                    <input class="nicdark_bg_grey2 nicdark_radius nicdark_shadow grey small subtitle" type="text" value="" placeholder="EMAIL" id="email" name="email">
                    <div class="nicdark_space20"></div>
                    <textarea id="msg" name="msg" class="nicdark_bg_grey2 nicdark_radius nicdark_shadow grey small subtitle" placeholder="MESSAGE" rows="7"></textarea>
                    <div class="nicdark_space20"></div>
                    <!--<input class="nicdark_btn nicdark_bg_orange medium nicdark_shadow nicdark_radius white" type="submit" value="SEND">-->
                    <a name="submit" class="nicdark_mpopup_ajax nicdark_btn nicdark_bg_orange medium nicdark_shadow nicdark_radius white nicdark_press" id="submit">SEND</a>
                </div>
                <div name="Enquiry" id="Enquiry" style="width: 100%; display:none">
                </div>

            </div>




            <div class="nicdark_space50"></div>


        </div>
        <!--end nicdark_container-->
        </section>
        <!--end section-->
        <!--start section-->
        <section class="nicdark_section">
            <div class="nicdark_textevidence">
                <iframe class="nicdark_iframe nicdark_margintop40_negative nicdark_marginbottom90_negative" src="https://mapsengine.google.com/map/embed?mid=18t7JRVzJoHclSzU3BQfXQ6a049U" height="400"></iframe>
            </div>
        </section>
        <!--end section--><!--end-->

        <div class="nicdark_space3 nicdark_bg_gradient"></div>

        <!--start section-->
        <!-- Footer - quote -->
        <div class="bloc bgc-carmine-pink d-bloc" id="quote">
            <div class="container bloc-md">
                <div class="row">
                    <div class="col-sm-9">
                        <h3 class="mg-md animated zoomIn">
                            Don&rsquo;t hesitate to contact us now...
                        </h3>
                    </div>
                    <div class="col-sm-3 text-center">
                        <a onclick="scrollToTarget('#contact_div')" class="btn btn-lg wire-btn-white btn-wire animated zoomIn">GET A QUOTE NOW</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer - quote END -->

        <div class="bloc l-bloc" id="faq">
            <div class="container bloc-lg">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="text-center mg-md ">
                            FAQ
                        </h2>

                        <p class="sub-heading text-center">
                            Frequently Asked Questions
                        </p>
                    </div>
                </div>
                <div class="row voffset-mg">
                    <div class="col-md-12">
                        <div class="panel-group" id="accordion" role="tablist">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle collapsed" data-toggle="collapse"
                                           data-parent="#accordion"
                                           href="#collapseOne" aria-expanded="false">What is the meaning of educational technology?</a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-expanded="false"
                                     style="height: 0px;">
                                    <div class="panel-body">
                                        Educational technology, sometimes shortened to EduTech or EdTech, is a wide field. Therefore, one can find many definitions, some of which are conflicting. ... Educational technology as practice refers to any form of teaching and learning that makes use of technology.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle collapsed" data-toggle="collapse"
                                           data-parent="#accordion"
                                           href="#collapseTwo" aria-expanded="false">What is a virtual online school?</a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-expanded="false">
                                    <div class="panel-body">
                                        Some schools use internet resources, such as online lessons, teacher support online, or online homework systems, but a fully online school (virtual school or cyber-school) teaches entirely or primarily through online methods. That is, physical interaction by students and teachers is unnecessary, or only supplementary.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle collapsed" data-toggle="collapse"
                                           data-parent="#accordion"
                                           href="#collapseThree" aria-expanded="false">What are the educational media?</a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-expanded="false">
                                    <div class="panel-body">
                                        Educational media is any type of media used to educate someone on a topic. Educational media can be used at home or in the classroom to supplement lessons and formal education. Some examples include primary documents, documentaries and music.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ScrollToTop Button -->
        <a class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1')">
            <span class="fa fa-chevron-up"></span>
        </a>
        <!-- ScrollToTop Button END-->
        <!-- Footer - bloc-8 -->
        <div class="bloc bgc-platinum l-bloc" id="bloc-8">
            <div class="container bloc-sm">
                <div class="row">
                    <div class="col-xs-12 col-md-8 col-md-offset-2">
                        <div class="col-sm-3 text-center">
                            <a class="social-lg" href="http://www.twitter.com/BootstrapOcean" target="_blank">
                                <span class="fa fa-twitter icon-md icon-carmine-pink"></span>
                            </a>
                        </div>
                        <div class="col-sm-3 text-center">
                            <a class="social-lg" href="https://www.facebook.com/BootstrapOcean" target="_blank">
                                <span class="fa fa-facebook icon-md icon-carmine-pink"></span>
                            </a>
                        </div>
                        <div class="col-sm-3 text-center">
                            <a class="social-lg"
                               href="https://plus.google.com/b/116513433102470788789/116513433102470788789/posts"
                               target="_blank"><span class="fa fa-google-plus icon-md icon-carmine-pink"></span></a>
                        </div>
                        <div class="col-sm-3 text-center">
                            <a class="social-lg" href="#"><span class="fa fa-dribbble icon-md icon-carmine-pink"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row">
                    <div class="col-xs-12 col-md-8 col-md-offset-2 text-center mg-md">Created by <a
                            href="http://www.bootstrapocean.com" target="_blank">BootstrapOcean</a></div>
                </div> ->
        <!-- Footer - bloc-8 END -->
    </div>
    <!-- Main container END -->
    <!-- Google Analytics -->
    <!-- Google Analytics END -->


