@model AbishkarFoundation.Web.ViewModel.Module.TestSetViewModel
@{
    ViewData["Title"] = "Module";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}
<div class="breadcrumb"><a href="@Url.Action("Index", "Teacher")">Home</a><span>/</span><span>Module</span></div>
<div class="card card-login mx-auto mt-5 login dataDiv">
    <div class="card-header">Modules</div>
    <div class="card-body">
        <div><a style="float:right" class="btn btn-success" href="@Url.Action("AddModule","Module")">Add Module</a></div>
        <div  class="col-lg-12">
            @if (Model.TestSets != null && Model.TestSets.Any())
            {<table class="table-bordered">
                    <thead>
                        <tr><th> a</th><th> b</th><th> c</th></tr>
                    </thead>
                    <tbody>
                        <tr><td> a</td><td> b</td><td> c</td></tr>
                        <tr><td> a</td><td> b</td><td> c</td></tr>
                        <tr><td> a</td><td> b</td><td> c</td></tr>
                        <tr><td> a</td><td> b</td><td> c</td></tr>
                    </tbody>

                </table>
            }
            else
            {
                <div class="pageMsg pageMsg-info">You dont have any module</div>

            }
        </div>
    </div>
</div>

